@font-face{
    font-family:'LSfont';
    src:url('Apex\ Mk3-Medium.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
html, body {
    min-width:1200px;
    height: 100%;
    min-height:900px;
    margin: 0;
    padding: 0;
}
html{
    background-color:#121314;
    background-size: 100% 100%;
}
body{
    overflow-x: auto;
    margin:0 auto;
    padding:0;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#launchPH{
    margin-top:20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transition: opacity 0.8s ease;
    margin-bottom: 40px;
}
#launchPH.hid{
    opacity: 0;
    pointer-events: none;
}
.ltr-win{
    width:200px;
    height:140px;
    overflow:hidden;
    position:relative;
    background:transparent;
    border:2px solid #D0F0FF;
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}
.ltr-str{
    display:flex;
    flex-direction:column;
    align-items:center;
    will-change:transform;
    transition:none;
}
.ltr-itm{
    height:140px;
    line-height:140px;
    font-size:72px;
    color:#D0F0FF;
    width:100%;
    text-align:center;
    flex-shrink:0;
    font-family:'LSfont', monospace;
}
.pro-bar{
    width:30%;
    height:4px;
    border-radius:4px;
    overflow:hidden;
}
.pro-fill{
    width:0%;
    height:100%;
    background:#D0F0FF;
    transition:width 0.1s linear;
}
.card{
    position:absolute;
    display:flex;
    width:fit-content;
    background:transparent;
    padding:12px 30px;
    color:#D0F0FF;
    border:2px solid #D0F0FF;
    border-radius:10px;/*圆角*/
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    top:80%;
    /*--------------*/
    box-shadow:0 0 20px #D0F0FF;
    text-shadow:0 0 5px #D0F0FF;
}
.card:hover{
    color:#D0F0FF;
    border-color: #D0F0FF;
    box-shadow:0 0 50px #D0F0FF;
}
.card.show{
    opacity: 1;
}
.ftxt{
    color: #D0F0FF;
    font-size: 32px;
    letter-spacing: 6px;
    opacity: 0;
    transition: opacity 0.8s ease 0.3s;
    margin-bottom: 24px;
    font-weight: 300;
    text-shadow: 0 0 5px #D0F0FF;
}
.ftxt.show{
    opacity: 1;
}
.hint{
    color: #555;
    font-size: 12px;
    margin-top: 16px;
    letter-spacing: 3px;
    font-family: monospace;
}
.hid { 
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.5s ease; 
}
#blkPH {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background: transparent; /* 或者你想要的背景色 */
    padding: 40px 20px;
}
.logo-hidden {
    opacity: 0;
    transition: opacity 1.8s ease-out;
    width: 800px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}
.logo-vis{
    opacity:1;
}