p{
    color:rgb(64, 237, 231);
    font-size:15px;
}
h1{
    color:#3DF8F8;
    font-size:50px;
    text-shadow:0 0 10px #3DF8F8;
}
h2{
    color:#3DF8F8;
    font-size:40px;
    text-shadow:0 0 10px #3DF8F8;
}
h3{
    color:#3EEDE7;
    font-size:25px;
    text-shadow:0 0 5px #3EEDE7;
}
h4{
    color:#39ff14;
    font-size:25px;
    text-shadow:0 0 10px #39ff14;
}
ul{
    list-style-type:square;
    color:#3EEDE7;
    text-shadow:0 0 5px #3EEDE7;
    font-size:25px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
    padding:0;
    background:linear-gradient(145deg,#0a0a0a,#1a1a2e,#0a0a0a);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; 
}
.main{
    max-width:1200px;
    margin:0 auto;
    flex:1;
    padding-bottom: 80px;
    padding-top:200px;
}
.hexin{
    position:absolute;
    top:200px;
    width:1200px;
    left:300px;
    margin:0 auto;
    text-align:center;
}
.card{
    display:flex;
    width:fit-content;
    background:transparent;
    padding:12px 30px;
    color:E23AFB;
    border:2px solid #E23AFB;
    border-radius:40px;/*圆角*/
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    /*--------------*/
    box-shadow:0 0 20px #E23AFB;
    text-shadow:0 0 5px #E23AFB;
}
.card:hover{
    color:#E23AFB;
    border-color: #E23AFB;
    box-shadow:0 0 50px #E23AFB;
}
.cg{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:40px;
    top:200px;
    left:100px;
}
.qianmingtu{
    position:absolute;
    width:350px;
    height:auto;
    top:50px;
    right:100px;
    filter:drop-shadow(0 0 10px #3DF8F8);
}
.foot{
    width: 100%;
    background-color: #161823;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
#hh1{
    position:absolute;
    left:500px;
    top:50px;
}
.about{
    position: absolute;   /* 恢复绝对定位 */
    left: 500px;          /* 原来的水平位置 */
    top: 150px;           /* 原来的垂直位置 */
}
.tail{
    position:absolute;
    left:500px;
    top:150px;
}