p{
    text-indent: 2em;
    color:rgb(64, 237, 231);
    font-size:15px;
}
h1{
    color:#3DF8F8;
    font-size:50px;
    text-shadow:0 0 10px #3DF8F8;
}
h2{
    color:#3DF8F8;
    font-size:40px;
    text-shadow:0 0 10px #3DF8F8;
}
h3{
    color:#3EEDE7;
    font-size:25px;
    text-shadow:0 0 5px #3EEDE7;
}
h4{
    color:#39ff14;
    font-size:20px;
    text-shadow:0 0 10px #39ff14;
}
h5{
    color:#3DF8F8;
    font-size:18px;
}
ul{
    list-style-type:square;
    color:#3EEDE7;
    text-shadow:0 0 5px #3EEDE7;
    font-size:25px;
}
html, body {
    min-width:1200px;
    height: 100%;
    margin: 0;
    padding: 0;
}
html{
    background:linear-gradient(145deg,#121314,#0d1216,#0A3A9E,#0d1216,#121314) no-repeat fixed;
    background-size: 100% 100%;
}
body{
    overflow-x: auto;
    margin:0 auto;
    padding:0;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}
a{
    color:#3DF8F8;
    text-decoration:none;
}
.indent {
    white-space: pre-wrap;
    padding-left: 2em;
    text-indent: -2em;
}
.main{
    min-width:1200px;
    margin:0 auto;
    flex:1;
    padding-bottom: 80px;
}
.hexin{
    position:absolute;
    top:150px;
    left:50%;
    transform:translate(-50%);
    text-align:center;
}
.card{
    display:flex;
    width:fit-content;
    background:transparent;
    padding:12px 30px;
    color:#E23AFB;
    border:2px solid #E23AFB;
    border-radius:40px;/*圆角*/
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    /*--------------*/
    box-shadow:0 0 20px #E23AFB;
    text-shadow:0 0 5px #E23AFB;
}
.card:hover{
    color:#E23AFB;
    border-color: #E23AFB;
    box-shadow:0 0 50px #E23AFB;
}
.cg{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:40px;
    top:200px;
    left:100px;
}
.qianmingtu{
    position:absolute;
    width:25%;
    height:25%;
    top:75px;
    left:70%;
}
.foot{
    margin-top:auto;
    width: 100%;
    background-color: #161823;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
#hh1{
    margin-left:30%;
    margin-top:50px;
}
.about{
    margin-left:30%;
    width:40%;
    margin-right:30%;
}
.tail{
    margin-left:30%;
}
.aa{
    text-decoration:underline;
}
#hh11{
    margin-left:30%;
    margin-top:50px;
}
#title{
    border-right:2px solid #E23AFB;
    white-space:nowrap;
    overflow: hidden; 
    animation: blink 0.7s step-end infinite;
}
.foot-p{
    margin-top:auto;
    width: 100%;
    background-color: #161823;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
.project{
    backdrop-filter:blur(10px);
    margin-top:25px;
    margin-left:30%;
    width:35%;
    padding:6px 30px;
    border:2px solid #3DF8F8;
    border-radius:10px;
    box-shadow:0 0 20px #3DF8F8;
    display:flex;
    flex-direction:column;
}
.project:hover{
    transform:translateY(-5px);
    box-shadow:0 0 40px #3DF8F8;
}
.right{
    text-align:right;
}
@keyframes blink{
    0%,100%{
        border-color:transparent;
    }
    50%{
        border-color:#E23AFB;
    }
}
@media (max-width: 768px){
    body{
        min-width:1200px;
        overflow-x:auto;
        margin:0;
    }
}